body {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: sans-serif;
}
input {
  width: 70%;
  padding: 5px;
  margin: 10px;
  font-size: 1rem;
}
button {
  background-color: lightgray;
  padding: 7px 112px;
  font-size: 1rem;
  margin-top: 10px;
}
.grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.singleRow {
  display: flex;
}
.singleCell {
  width: 20px;
  height: 20px;
  border: solid 1px black;
}
.toggle-on {
  background-color: aquamarine;
}

#row-alert,
#col-alert {
  color: red;
}
